/* Variable definition for easier editing */

* {
    --colour_background: #5C5C5C;
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: white;

    background: var(--colour_background);
    overflow: hidden;
}

#app {
    display: flex;
    height: 100vh;
    flex-direction: row;

    background: repeating-linear-gradient(-45deg,
            #575757,
            #575757 2px,
            var(--colour_background) 2px,
            var(--colour_background) 15px);
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.m-0 {
    margin: 0;
}

.playing {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playing .controls {
    padding: 20px 0;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg, rgba(19, 19, 19, 0.2665) 0%, rgba(19, 19, 19, 0.5) 100%);
}

.playing .controls img {
    width: 60px;
    height: 60px;
}

.playing .information {
    padding: 2rem;
}

.playing .information h1,
.playing .information h2 {
    margin: 0;
    font-weight: 100;
}

.playing .information h1 {
    margin-top: 20px;
}

.playlist {
    min-width: 403px;
    width: 403px;
    max-width: 403px;
    padding: 20px;
    padding-right: 0;
    padding-left: 10px;

    background: #434343;
    overflow-y: scroll;
}

.playlist .trackEntry {
    position: relative;
    display: flex;
    padding: 20px;
    margin-bottom: 4px;

    background: #535353;
    transition: background 0.2s;
}

.playlist .trackEntry:hover {
    background: #494949;
}

.playlist .trackEntry.selected {
    background: #2B5DAA;
}

.playlist .trackEntry::before {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 50px;
    left: 14px;
    top: 50%;

    background: #404040;
    margin-right: 8px;
    margin-left: -8px;
    transform: translate(0, -50%);
}

/* The overlay that pops up when file is dragged */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-size: 10vw;
    background: rgba(0, 0, 0, 0.804);
}