/* Variable definition for easier editing */

* {
    --colour_background: #2A313A;
    --colour_drag_bar: #3A4350;
    --colour_playbackController_background: #3B4451;

    --colour_playlist_odd: #fff;
    --colour_playlist_even: #eee;
    --colour_playlist_selected: #1e95f7;


    font-family: sans-serif;
    font-weight: 100;
}

html::before {
    display: block;
    width: 100%;
    height: 40px;
    content: "";
    background: var(--colour_drag_bar);

    /* Allows the window to be dragged at this point.
    It's for the electron app only */
    -webkit-app-region: drag;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: sans-serif;
    color: white;
    background: var(--colour_background);
    overflow: hidden;
    margin: 0;
}

.body {
    display: flex;
    padding: 2em;
    box-sizing: border-box;
}

.infoContainer {
    flex: 2;
}

.authorInfo {
    --imgWidth: 150px;
    display: grid;
    grid-template-columns: var(--imgWidth) auto;
    grid-gap: 1em;
}

.authorInfo .img {
    width: calc(var(--imgWidth));
    height: calc(var(--imgWidth));

    border-radius: 10px;
    background: linear-gradient(45deg, purple, cyan);
}

.textInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textInfo h1,
.textInfo h2,
.textInfo h3 {
    margin: 0;
}

.textInfo h2 {
    font-size: 1.4em;
}

.textInfo .tags {
    color: #999;
}

.textInfo h1:nth-child(2) {
    display: inline-block;
}

.playlistContainer {
    flex: 1;

    width: 100%;
    height: 100%;

    font-size: 1.2em;
    color: #888888;
}

.addMusic{
    width: 45px;
    height: 45px;

    margin-bottom: 0.3em;

    color: white;
    font-size: 2em;

    border: none;
    border-radius: 50%;

    background: none;
}

.queue {
    display: flex;
    flex-direction: column;
}

.queue p {
    margin: 0em;
    padding: 0.5em;
    word-wrap: break-word;
}

.queue p:before {
    display: inline-block;
    content: "...";
    transform: rotate(90deg);
}

.playlist .selected {
    color: white;
    background: var(--colour_playlist_selected);
}

.playbackController {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100px;
    bottom: 0;

    padding: 1em;

    background: var(--colour_playbackController_background);
}

.playbackController button {
    width: 60px;
    height: 60px;

    top: 50%;
    left: 50%;

    color: white;

    background: var(--colour_background);
    border-radius: 50%;

    border: 10px solid rgb(43, 51, 62);
    overflow: hidden;

    transition: background 1s;
}

.playbackController button:hover{
    color: #222;
    background: #eee;
}

.playbackController button:nth-child(2){
    width: 75px;
    height: 75px;
}